<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<header class="mb-5">
    <div class="d-flex justify-content-end">
        <div class="btn-group">
            <button class="btn btn-secondary btn-sm" data-bs-theme-value="dark">
                Dark
            </button>
            <button class="btn btn-light btn-sm" data-bs-theme-value="light">
                Light
            </button>
        </div>
    </div>
</header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MyShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="shopping-cart">Shopping Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="product">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">About</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <h1>Welcome to MyShop!</h1>
    <p>Your one-stop shop for all your needs.</p>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/darkmodetoggle.js"></script>
</body>
</html>
