<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/background}"></div>
<head th:replace="~{fragments/head}"></head>

<body>
<div th:replace="~{fragments/navbar}"></div>
<div class="container mt-5">
    <h2>Login</h2>
    <form>
        <div class="form-group" >
            <label for="email" >Email address:</label>
            <input type="email" class="form-control col-md-3" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control col-md-3" id="pwd" placeholder="Enter password" name="pwd">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div th:replace="~{fragments/footer}"></div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>