<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>

<body>
<div th:replace="~{fragments/navbar}"></div>
<div class="container mt-5" >
  <h2>Register</h2>
  <form class="form-group" action="#" th:action="@{/register}" th:object="${user}" method="post" >
    <div>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" th:field="*{firstName}" required minlength="2" maxlength="20" />
    </div>
    <div>
      <label for="middleName">Middle Name:</label>
      <input type="text" id="middleName" th:field="*{middleName}" required minlength="2" maxlength="20" />
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" th:field="*{lastName}" required minlength="2" maxlength="20" />
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" th:field="*{email}" required />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" th:field="*{password}" required minlength="8" maxlength="20" />
    </div>
    <div>
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" th:field="*{confirmPassword}" required minlength="4" maxlength="20" />
    </div>
    <div>
      <label for="phoneNumber">Phone Number:</label>
      <input type="text" id="phoneNumber" th:field="*{phoneNumber}" />
    </div>
    <div>
      <button type="submit">Register</button>
    </div>
  </form>


</div>

<div th:replace="~{fragments/footer}"></div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

